#meritLogoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#navigationBar {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(170, 29, 35, 1),
    rgba(255, 0, 0, 0)
  );
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  margin: 20px 0px;
}

#meritAcademyLogo {
  height: 350px;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.navigations {
  font-size: 20px;
  padding: 0px 20px;
  height: 30px;
}
